body {
  background-color: #F8F8F8;
}

.page{
	display:flex;
	flex-direction:column;
}

.navBarPage{
	background-color : white;
	display:flex;
	flex-direction:row;
}

.conteneurLogo{
	display:flex;
	background-color: #252525;
	width:20%;
	align-content: center;
	align-items: center;
}

.imgLogo{
	max-width:80%;
	max-height:80%;
	padding-left:5%;
}

.diagSVGnav{
	width:10%;
	position: relative;
}

.conteneurBoutons{
	width:70%;
	display:flex;
	justify-content: flex-end;
}

.boutonsNav{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	list-style-type: none;
	width:100%;
	margin:0px;
}

.onglet{
	padding:1%;
}

.changerPage{
	color:#252525;
	padding:1%;
}

.changerPage:hover{
	text-decoration:none;
	color:#252525;
}

.contenuPage{}

.piedPage{
	display:flex;
	justify-content: center;
}

.liens{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.fa{
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color:white;
	
}
.fa:hover {
    opacity: 0.7;
	text-decoration:none;
	color:white;
}

.fa-instagram{ 
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
 }

.fa-facebook{
	background: #3B5998;
}
.fa-twitter{
	background: #55ACEE;
}
.fa-linkedin{
	background: #007bb5;
}